.playerBlock,.caption{
    display: flex;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px solid #222;
    padding: 5px 0;
}
.playersBlock{
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
.playerBlock:hover{
    background-color: #e3e337;
}
.playerInGame{
    opacity: 0.3;
    cursor: not-allowed;
}
.playerInGame:hover{
    background-color: #E9CC74;
}
.playerId{
    font-weight: 700;
    margin-right: 25px;
    width: 25px;
    text-align: center;
}
.playerName,.playerSurname{
    text-align: left;
    min-width: 120px;
    font-weight: 600;
}
.playerSurname{
    width: 200px;
}
.playerRating .ratingBlock {
    width: 30px;
    height: 30px;
    background-color: #1D1D11;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E9CC74;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 2px 3px 5px #1D1D11;
}
.starsBlock{
    padding-right: 15px;
}
.starsBlock img.star{
    width: 25px;
    height: 25px;
    filter: drop-shadow(2px 2px 5px #000);
}
.caption{
    font-weight: 700;
}

.playerImg{
    width: 75px;
}
.playersBlock img{
    width: 40px;
    height: 45px;
}

/* checkbox */
.checkboxLabel{
    cursor: pointer;
}
.checkboxLabel:hover  input ~ .checkmark {
    background-color: #ccc;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    background-color: #eee;
    border:1px solid #1D1D11;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #1D1D11;
    transition: all 0.2s ease;
}
.container input:checked ~ .checkmark:hover {
    box-shadow: 2px 3px 5px #1D1D11;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #E9CC74;
    border-width: 0 3px 3px 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.container input:disabled ~ .checkmark{
    cursor: not-allowed;
    opacity: 0.4;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*MEDIA*/

@media screen and (max-width: 858px) {
    .playerBlock{
        font-size: 14px;
    }
    .playerName,.playerSurname{
        min-width: 80px;
    }
    .playerSurname{
        width: 100px;
    }
    .starsBlock img.star{
        width: 15px;
         height: 15px;
    }
    .caption{
        font-size: 12px;
        font-weight: 900;
    }
}

@media screen and (max-width: 594px) {
    .playerBlock{
        font-size: 12px;
    }
    .playerName,.playerSurname{
        min-width: 50px;
    }

    .playerSurname{
        width: 80px;
    }
    .starsBlock img.star{
        width: 12px;
        height: 12px;
    }
    .playerImg{
        width: 50px;
    }
    .playerId{
        margin-right: 5px;
    }
    .playersBlock img{
        width: 30px;
        height: 35px;
    }
}

@media screen and (max-width: 456px) {
    .playerBlock{
        font-size: 11px;
    }
    .playerName,.playerSurname{
        min-width: 40px;
    }

    .playerSurname{
        width: 60px;
    }
    .starsBlock img.star{
        width: 10px;
        height: 10px;
    }
    .playerImg{
        width: 40px;
    }
    .playerId{
        margin-right: 5px;
    }
    .playersBlock img{
        width: 25px;
        height: 30px;
    }
    .playerRating{
        text-align: center;
    }
    .playerRating .ratingBlock{
        width: 15px;
        height: 15px;
        margin: 0 5px 0 18px;
    }
    .caption{
        font-size: 10px;
        font-weight: 900;
    }
}