body {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    background: url("https://user-images.githubusercontent.com/22690563/67150939-14a0b180-f2c7-11e9-8016-a993a397e1c5.jpg") no-repeat center center/cover;
}

.wrapper{
    margin: 0 15px;
    position: relative;
    transition: all 0.2s ease;
    outline: none;
}
.wrapper:hover{
    transform: scale(1.1);
    filter: drop-shadow(1px 5px 10px #E9CC74);
}
.badPlayer:after{
    content:"Weak Player";
    text-align: center;
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    top:100px;
    left: 0;
    background-color: rgba(211, 44, 44,0.6);
    color:#fff;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    z-index: 555;
}
.badPlayer{
    filter: drop-shadow(1px 5px 20px #d32c2c);
}
.badPlayer:hover{

    filter: drop-shadow(1px 5px 20px #d32c2c);
}
.close-card{
    position: absolute;
    font-weight: 700;
    top:0;
    right: 0;
    font-size: 28px;
    color: #e9cc74;
    cursor: pointer;
    z-index: 800;
    transition: all 0.2s ease;
}
.close-card:hover{
    color: #c52e2e;
}
.fut-player-card {
    position: relative;
    width: 150px;
    height: 250px;
    background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 2rem 0;
    z-index: 2;
    transition: 200ms ease-in;
    overflow: hidden;
}

.fut-player-card .player-card-top {
    position: relative;
    display: flex;
    color: #e9cc74;
    padding: 0 1.5rem;
}
.fut-player-card .player-card-top .player-master-info {
    position: absolute;
    font-weight: 300;

    text-transform: uppercase;
}
.fut-player-card .player-card-top .player-master-info .player-rating {
    font-size: 2rem;
}
.fut-player-card .player-card-top .player-master-info .player-position {

}
.fut-player-card .player-card-top .player-master-info .player-nation {
    display: block;
    width: 2rem;
    height: 25px;
    margin: 0.3rem 0;
}
.fut-player-card .player-card-top .player-master-info .player-nation img {
    width: 120%;
    height: 120%;
    margin-left: -15px;
    -o-object-fit: contain;
    object-fit: contain;
}
.fut-player-card .player-card-top .player-master-info .player-club {
    display: block;
    width: 2.1rem;
    height: 40px;
}
.fut-player-card .player-card-top .player-master-info .player-club img {
    width: 120%;
    height: 120%;
    margin-left: -15px;
    -o-object-fit: contain;
    object-fit: contain;
}
.fut-player-card .player-card-top .player-picture {

    height: 150px;
    margin: 0 auto;


}
.fut-player-card .player-card-top .player-picture img {
    width: 125%;
    height: 125%;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    right: -2rem;
    bottom: 20px;

}

.fut-player-card .player-card-top .player-picture .player-extra span {
    margin-left: 0.6rem;
    text-shadow: 2px 2px #333;
}
.fut-player-card .player-card-bottom {
    position: relative;
}
.fut-player-card .player-card-bottom .player-info {
    display: block;
    padding:  0;
    color: #e9cc74;
    width: 90%;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 2;
}
.fut-player-card .player-card-bottom .player-info .player-name {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(233, 204, 116, 0.1);
    overflow: hidden;
}
.fut-player-card .player-card-bottom .player-info .player-name span {
    display: block;
    text-shadow: 2px 2px #111;
}
.fut-player-card .player-card-bottom .player-info .player-features {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
    border-right: 2px solid rgba(233, 204, 116, 0.1);
    padding: 0 2.3rem;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
    margin-right: 0.3rem;
    font-weight: 700;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
    font-weight: 300;
}
.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
    border: 0;
}
.player-features-col{
    padding: 0 17px !important;
}